<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GSAN: Subdomain Search</title>
    </head>
    <body>
        <h1>Welcome to GSAN (Get SubjAltName)</h1>
        <p>
            GSAN retrieves SSL domains associated with a given hostname. It uses
            the subjectAltName extension of the X.509 found in HTTPS
            certificates to extract subdomains and IP addresses.
        </p>
        <p>
            Unlike other subdomain search tools like CRT.SH or dnsmap, GSAN does
            not rely on DNS search or cares about certificate transparency. It
            creates a direct connection to the HTTPS service and tries to look
            for subdomain names.
        </p>
        <p>
            This API is for educational and informational purposes only. Use of
            this API is meant to demonstrate SSL domain extraction and should
            not be used for any malicious or harmful activities.
        </p>

        <p>
            Try it out yourself 👇🏻 or go to
            <strong><a href="/docs">/docs</a></strong>
            to see the API documentation. Have a question?
            <strong
                ><a href="https://x.com/__franccesco"
                    >Follow me on Twitter.</a
                ></strong
            >
            (FYI: This is not customer support, but I'm happy to chat!)
        </p>
        <form id="domainForm">
            <label for="domain">Domain or IP address:</label>
            <input
                type="text"
                id="domain"
                name="domain"
                value="microsoft.com"
                required
            />
            <button type="submit">Search</button>
        </form>

        <h2>Results:</h2>
        <div id="results"></div>

        <script>
            document
                .getElementById("domainForm")
                .addEventListener("submit", function (event) {
                    event.preventDefault(); // Prevent the form from submitting the traditional way

                    const domain = document.getElementById("domain").value;
                    const url = `/ssl_domains/${encodeURIComponent(domain)}`;

                    fetch(url, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                        },
                    })
                        .then((response) => {
                            if (!response.ok) {
                                // If the response is not OK (e.g., 503 Service Unavailable), throw an error
                                return response.json().then((errorData) => {
                                    throw new Error(
                                        errorData.detail || "Unknown error",
                                    );
                                });
                            }
                            return response.json();
                        })
                        .then((data) => {
                            const resultsDiv =
                                document.getElementById("results");
                            resultsDiv.innerHTML = ""; // Clear previous results

                            const domainKey = Object.keys(data)[0];
                            const subdomains = data[domainKey];

                            if (Array.isArray(subdomains)) {
                                const domainHeader =
                                    document.createElement("h3");
                                domainHeader.textContent = `Subdomains for ${domainKey}:`;
                                resultsDiv.appendChild(domainHeader);

                                const ul = document.createElement("ul");
                                subdomains.forEach((subdomain) => {
                                    const li = document.createElement("li");
                                    li.textContent = subdomain;
                                    ul.appendChild(li);
                                });

                                resultsDiv.appendChild(ul);
                            } else {
                                throw new Error(
                                    "Subdomains data is not in the expected format.",
                                );
                            }
                        })
                        .catch((error) => {
                            const resultsDiv =
                                document.getElementById("results");
                            resultsDiv.innerHTML = ""; // Clear previous results
                            const errorMessage = document.createElement("p");
                            errorMessage.textContent =
                                "Error: " +
                                error.message +
                                ". Maybe the service is down?.";
                            errorMessage.style.color = "red";
                            resultsDiv.appendChild(errorMessage);
                        });
                });
        </script>
    </body>
</html>
